.first{
	font-size: 100px;
	text-align: center;
	font-style: "Times New Roman";
}
.yes{
	float: left;
}
.no{
	float: left;
}
.yes1{
	font-size: 50px;
	
	text-decoration: inline;
	color: #fff;
	margin-top: 50px;
	margin-left: 380px;
	color: #30336b;
	padding: 10px;
	border-bottom: 5px solid #30336b;
}
.yes1:hover{
	background-color: #aaaaaa;
}
.ara{
	font-size: 80px;
	text-align: center;
}